.terraform*
terraform.tfvars
terraform.tfstate*
terraform.txt
license.txt
Ansible/inventory
Ansible/group_vars/all/access.yml
Ansible/dcos
*.pyc
*.pem
*.spec
.DS_Store
.idea/
NiFi/dcos/deploysvc
NiFi/dcos/nifi-tst1.json
base-infrastructure-aws/dcos_license_key_contents
NiFi.zip
NiFi/docker/Dockerfile.bak
NiFi/tools/work/dist
NiFi/tools/work/build
build*.log
/NiFi/docker/dcos-nifi/backup/

