baseUrl={{ baseurl }}
keystore={{ keystore }}
keystoreType={{ keystoretype }}
keystorePasswd={{ keystorepasswd }}
keyPasswd={{ keypasswd }}
truststore={{ truststore }}
truststoreType={{ truststoretype }}
truststorePasswd={{ truststorepasswd }}
proxiedEntity={{ proxiedentity }}
